*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

body{
  font-family:Arial, sans-serif;
  background:#f5f7fa;
  color:#333;
}

/* Navbar */

.navbar{
  background:#0d6efd;
}

.navbar-brand,
.nav-link{
  color:white !important;
  font-weight:600;
}

.nav-link:hover{
  color:#ffd166 !important;
}

/* Hero */

.hero{
  height:100vh;
  background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
  url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1200&auto=format&fit=crop');

  background-size:cover;
  background-position:center;

  display:flex;
  justify-content:center;
  align-items:center;

  text-align:center;
  color:white;
}

.hero h1{
  font-size:60px;
  font-weight:bold;
}

.hero p{
  font-size:22px;
  margin-top:10px;
}

.btn-custom{
  margin-top:20px;
  padding:12px 30px;
  border:none;
  border-radius:30px;
  background:#ffd166;
  font-weight:bold;
  transition:0.3s;
}

.btn-custom:hover{
  background:white;
  transform:scale(1.05);
}

/* Sections */

section{
  padding:80px 0;
}

.section-title{
  text-align:center;
  margin-bottom:50px;
  color:#0d6efd;
  font-weight:bold;
}

/* About */

.about-box{
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* Skills */

.skill-card{
  background:white;
  padding:25px;
  border-radius:15px;
  text-align:center;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  transition:0.3s;
}

.skill-card:hover{
  transform:translateY(-10px);
}

.skill-card i{
  font-size:45px;
  color:#0d6efd;
  margin-bottom:15px;
}

/* Education */

.edu-box{
  background:white;
  padding:25px;
  border-left:5px solid #0d6efd;
  margin-bottom:20px;
  border-radius:10px;
  box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

/* Projects */

.project-card{
  background:white;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  transition:0.3s;
}

.project-card:hover{
  transform:scale(1.03);
}

.project-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.project-content{
  padding:20px;
}

/* Contact */

.contact-box{
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* Footer */

footer{
  background:#0d6efd;
  color:white;
  text-align:center;
  padding:15px;
}